div{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('image/contact1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
    width: 100%;
   font-size: xx-large;
}
