 <div class="feedback">
  <table text-align="center">

    <h1>Feedback Form</h1>
    <tr>
       <th><label>Name:</label>
        <th><input placeholder="Enter Name">
      </tr>
      <tr>
       <th><label>Email-id:</label>
       <th><input  placeholder="Enter Email-id">
       </tr>
      <tr>
      <th><label>Contact Number:</label>
       <th><input  placeholder="Enter MobileNumber">
       </tr>


      <tr>
        <th><label>Message:</label>
       <th><input  placeholder="Enter Message">
       </tr>
      
       
       <a href=""><button type="button">Submit</button></a>

   
    </table>
</div>
     
     
  