<h1>SignUp
</h1>
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Enter Name">
</mat-form-field>
<mat-form-field appearance="outline">
<mat-label>MobileNumber</mat-label>
<input matInput placeholder="Enter MobileNumber">
</mat-form-field>
<mat-form-field appearance="outline">
<mat-label>EmailId</mat-label>
<input matInput placeholder="Enter EmailId">
</mat-form-field>
<mat-form-field appearance="outline">
<mat-label>Password</mat-label>
<input matInput placeholder="Enter password">
</mat-form-field>
<mat-form-field appearance="outline">
<mat-label>Confirm Password</mat-label>
<input matInput placeholder="Confirm Password">
</mat-form-field>
<button mat-raised-button color="primary">SignUp</button>
<br>
<a routerlink="/login">Already Register ? Click here for login</a>


